<div class="blanc-vpn-link">
  <img src="/src/assets/blancvpn.png" alt="BlancVPN" />
  <span>BlancVPN</span>
</div>

<style>
  .blanc-vpn-link {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .blanc-vpn-link img {
    height: 1em;
    width: auto;
  }
</style> 